/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

/* text */
.mycolor-primary {
  color:#7728f5 !important;
}
.mycolor-danger{
  color:#FF2A2A !important;
}
.mycolor-success {
  color:#4095E5 !important;
}

.myicon-small {
  font-size: 12px !important;
}

/* loading */
.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #bbb;
  /* background-color: #7728f5; */
  border-radius: 50%;
  animation: dotFlashing 0.6s infinite linear alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% {
    opacity: 0;
		scale: 0.5;
  }
  50%,
  100% {
    opacity: 1;
  }
}
