@tailwind utilities;


/* @layer utilities {
  .my-text-box {
    @apply rounded-md border-[1px] border-solid border-[rgba(222,222,222,1)] hover:border-[#7728f5];
  }

	.my-button {
		@apply text-[#bbb] hover:text-[#7728f5] cursor-pointer;
	}

	.my-tag {
		@apply bg-white text-[#6c6c6c] hover:text-[#7728f5] py-[2px];
	}
	.my-tag-active {
		@apply text-[#7728f5] bg-[#E1CBFD] text-[#7728f5] border-[#7728f5]
	}

	.my-icon {
		@apply text-[20px]

	}
} */

.my-text-box {
  border: 1px solid rgba(222, 222, 222, 1) !important; 
  border-width: 1px !important;
  border-radius: 0.25rem !important;
}
.my-text-box:hover {
  border: 1px solid #7728f5 !important;
}

.my-button {
  color: #6c6c6c !important;
  cursor: pointer !important;
}
.my-button:hover {
  color: #7728f5 !important;
}

.my-tag {
  background-color: white !important;
  color: #6c6c6c !important;
  padding-top: 2px !important;
}
.my-tag:hover {
  color: #7728f5 !important;
}

.my-tag-active {
  color: #7728f5 !important;
  background-color: #E1CBFD !important;
  border-color: #7728f5 !important;
}

.my-icon {
  font-size: 20px !important;
}

/* scroll */
.my-scroll {
	overflow-x: overlay !important;
}


